<ion-content>
  
  <app-header-expandable  type="alojamientos"
                          [headText]="headText"
  ></app-header-expandable>

  <ion-grid >
    <ion-row>
      <ion-col 
        size="6" 
        *ngFor="let patrimonio of patrimonios"
      >
        <ion-card 
          [routerLink]="['/patrimonio/' + patrimonio.id]"
        >
          <ion-img [src] = "patrimonio.list_img.url"></ion-img>
          {{ patrimonio.name }}
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-justify-content-center">

  <ion-button 
  shape="round" 
  fill="outline" 
  size="small" 
  color="light"
  >
    <ion-label>Visitas guiadas</ion-label>
  </ion-button>
  
</ion-footer>
