<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ patrimonio.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content 
  scrollEvents="true"  
  [fullscreen]="true"
  [appImageFade]="cover"
>
  <div class="ion-text-center image-box" #cover>
    <img src="{{imgURL}}">
  </div>
  
  <div class="main ion-padding">
    
    <ion-text class=" ion-text-justify">
      <markdown [data]="patrimonio.markdownText" style="line-height: 140%;"></markdown>
    </ion-text>
    
  </div>
  
</ion-content>

<ion-footer>
  
  <ion-chip
    *ngFor="let button of patrimonio.buttons"
    button (click)="openExternalUrl(button.url)"
    color= "white"
  >
    <ion-icon name= "{{ button.icon }}"></ion-icon>
    <ion-label>{{ button.name }}</ion-label>
  </ion-chip>

</ion-footer>