ion-header {
  background-color: var(--ion-color-green);
  padding: 0.5em;
  
  display: flex;
  align-items: center;

  ion-text {
    color: white;
    font-weight: 300;
    text-align: justify;
    font-size: 14px;

    h6 {
      position: relative;
      text-align: center;
      margin-top: 0;
      margin-bottom: 4px;

      span {
        position: absolute;
        right: 0.2em;         
      }
    }
    
    app-expandable p {
      padding: 0 25px; 
      margin: 0;
    }
  }
}