<super-tabs activeTabIndex="0"
            [config]="{ nativeSmoothScroll: true }"
>
  <super-tabs-toolbar slot="top">

    <super-tab-button>
      <ion-icon name="information-circle-outline"></ion-icon>
    </super-tab-button>

    <super-tab-button>
      <ion-icon name="home-outline"></ion-icon>
    </super-tab-button>

    <super-tab-button>
      <ion-icon name="restaurant-outline"></ion-icon>
    </super-tab-button>

    <super-tab-button>
      <ion-icon name="camera-outline"></ion-icon>
    </super-tab-button>

    <super-tab-button>
      <ion-icon name="walk-outline"></ion-icon>
    </super-tab-button>

    <super-tab-button>
      <ion-icon name="today-outline"></ion-icon>
    </super-tab-button>

  </super-tabs-toolbar>

  <super-tabs-container>
    <super-tab noScroll="true">
      <ion-nav [root] = "homePage"></ion-nav>
    </super-tab>

    <super-tab>      
      <ion-nav [root] = "alojamientosPage"></ion-nav>
    </super-tab>

    <super-tab>      
      <ion-nav [root] = "gastronomiaPage"></ion-nav>
    </super-tab>

    <super-tab>      
      <ion-nav [root] = "patrimonioPage"></ion-nav>
    </super-tab>

    <super-tab>      
      <ion-nav [root] = "actividadesPage"></ion-nav>
    </super-tab>

    <super-tab>      
      <ion-nav [root] = "eventosPage"></ion-nav>
    </super-tab>
      
  </super-tabs-container>
</super-tabs>
