// ion-segment {
//   display: flex;
//   // justify-content: flex-end;
//   align-items: flex-start;
// }

ion-label {
  font-size: smaller;
}

ion-slides,
ion-slide {
  height: 100%;
  font-size: 48px !important;
}

.slide-1 {
  background: #e0bbe4;
}

.slide-2 {
  background: #957dad;
  color: #fff;
}