<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ actividad.name }}</ion-title>
  </ion-toolbar>
</ion-header>  

<ion-img *ngIf="!showSuperTabs"
          #imageTop 
          src="{{ imgURL }}"
></ion-img>

<ion-slides *ngIf="showSuperTabs"
            #slides
            [options]="slideOpts"
>
  <ion-slide 
    *ngFor="let image of actividad.actividadSegments">
    <ion-img src="{{ image.segm_Img.url }}"></ion-img>
  </ion-slide>
</ion-slides>

<ion-content>
  
  <div class="ion-padding" *ngIf="!showSuperTabs">
    <ion-text class=" ion-text-justify">
      <markdown [data]="actividad.markdownText" style="line-height: 140%;"></markdown>
    </ion-text>
    
  </div>

  <super-tabs *ngIf="showSuperTabs"
              (tabChange)="onTabChange($event)"
              activeTabIndex="0"
              [config]="{ 
                nativeSmoothScroll: true,
                debug: false
              }"
  >
    <super-tabs-toolbar 
      slot="top" 
      scrollable
      scrollable-padding = "false"
      color="green"
    >
      <super-tab-button  
        *ngFor="let segmentButton of actividad.actividadSegments">
        <ion-label class="ion-text-wrap ion-no-margin">
          {{ segmentButton.label }}
        </ion-label>
      </super-tab-button>
    </super-tabs-toolbar>

    <super-tabs-container auto-scroll-top=true>
      <super-tab class="ion-padding-start ion-padding-end"
      *ngFor="let segmentText of actividad.actividadSegments"
      >
        <ion-text>
          <markdown [data]="segmentText.texto"></markdown>
        </ion-text>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
    
    
<ion-footer class="ion-justify-content-center">

  <!-- <ion-chip  
    *ngFor="let button of actividad.buttons"
    outline = true
    color= "white"
  >
    <ion-icon name= "{{ button.icon }}"></ion-icon>
    <ion-label>{{ button.text }}</ion-label>
  </ion-chip>  -->

</ion-footer>
