<ion-content >
  <app-header-expandable  type="alojamientos"
                          [headText]="headText"
  ></app-header-expandable>
  
  <ion-list>

    <app-list-item  type="alojamientos"
                    [items]="alojamientos"
    ></app-list-item>
    
  </ion-list>
</ion-content>

<ion-footer class="ion-justify-content-center">

  <ion-button 
  [routerLink]="['/alojamientos/escapadas/']"
    shape="round" 
    fill="outline" 
    size="small" 
    color="light">

    <ion-label>Escapadas</ion-label>
  </ion-button>
</ion-footer>